@model IList<Student> //variable model to hold the passed Student List

<h3 class="mb-3">Student List</h3>
<a asp-controller="Student" asp-action = "Create" class ="btn btn-primary mb-3">Create</a>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Course</th>
            <th>Age</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        
        @foreach (var s in Model) // For each student in Model(Capital letter) -Razor syntax
        {
        <tr>
                <td>@s.Id</td>
                <td>@s.Name</td>
                <td>@s.Course</td>
                <td>@s.Age</td>
                <td>
                    <a asp-controller="Student" asp-action="Details" asp-route-id="@s.Id">View</a>
                </td>
            </tr>
        }
    </tbody>
</table>